@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

.landing-page,.navTop{
   background-color: #FF9F1A; 

}

.landing-page{
    height: 93.7vh;
    color: white;
}

.landing-page h1{
    font-size: 3rem;
}

.totaldiv  {
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 20px;

    /* list-style: none; */
    /* font-size: 16px; */
    /* font-weight: bold; */
    color: #252525;
    text-transform: uppercase;
    overflow: hidden;
    float: right;

}


.image {
    max-width: 145px;
    height: 98px;
}



.minus:hover, .plus:hover{
    background-color: #717fe0 !important;
}

.totaldiv {
    overflow-wrap: break-word;
}

.number-input button {
    border: groove;
}

